
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.about-container {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #555;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.about-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

h1 {
    color: #d2691e;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}
